
<div class="jumbotron">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release Year</th>
      <th scope="col">Actors</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of moviedb">
      <td>{{item.title}}</td>
      <td>{{item.year}}</td>
      <td><label *ngFor="let a of item.actors">{{a.name}} &nbsp;</label></td>
      <td><button type="button" class="btn btn-danger btn-sm"(click)="onDeleteMovie(item._id)">Remove</button> &nbsp;
      <button type="button" class="btn btn-warning btn-sm"(click)="showModify(item)">Modify</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="jumbotron" *ngIf="select == 1">
  <h3>Add New Movie</h3>
  <div class="form-group">
    <label for="form_name">Title</label>
    <input [(ngModel)]="title" type="text" class="form-control" id="form_name" name="name">
  </div>
  <p></p>
  <div class="form_date">
    <label for="form_date">Year</label>
    <input [(ngModel)]="year" type="number" class="form-control" id="form_date" name="date">
  </div>
  <p></p>

  <div class="form-group">
    <label for="form_status">Actors</label>
    <br />
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info" *ngFor="let item of selectedActors" (click)="deselect(item._id)">{{item.name}}</button>
    </div>
    <div style="padding-top: 20px">
      <select [(ngModel)]="actor" name="status" id="form_status" class="form-control" style="width: 80%; float: left;">
        <option *ngFor="let item of avaliables" value={{item._id}}>{{item.name}}</option>
      </select>
      <button type="button" class="btn btn-light" (click)="addActor()" style="float: right;">Add Actor</button>
    </div>

  </div>

  <div style="padding-top: 50px">
    <button class="btn btn-primary" (click)="onCreateMovie()">Save Movie</button>
  </div>
</div>

<div class="jumbotron" *ngIf="select == 2">
  <h3>Modify Movie: {{modObj.title}}</h3>
  <div class="form-group">
    <label for="form_name">Title</label>
    <input [(ngModel)]="title" type="text" class="form-control" name="name">
  </div>
  <p></p>
  <div class="form_date">
    <label for="form_date">Year</label>
    <input [(ngModel)]="year" type="number" class="form-control" name="date">
  </div>
  <p></p>

  <div class="form-group">
    <label for="form_status">Actors</label>
    <br />
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info" *ngFor="let item of selectedActors" (click)="deselect(item._id)">{{item.name}}</button>
    </div>
    <div style="padding-top: 20px">
      <select [(ngModel)]="actor" name="status" class="form-control" style="width: 80%; float: left;">
        <option *ngFor="let item of avaliables" value={{item._id}}>{{item.name}}</option>
      </select>
      <button type="button" class="btn btn-light" (click)="addActor()" style="float: right;">Add Actor</button>
    </div>

  </div>

  <div style="padding-top: 50px">
    <button class="btn btn-primary" (click)="onUpdateMovie()">Modify Movie</button>
    &nbsp;
    <button class="btn btn-secondary" (click)="reset()">Cancel</button>
  </div>
</div>
